html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.Link {
  background-color: #ce93d8;
  cursor: pointer;
}

#upload {
  background-color: #ce93d8;
  border: #ce93d8;
}

#stepOne {  
  padding: 40px;
  background-color: #bdbdbd;
}

iframe {
  border: 0;
  height: 420px;  
}

#output {        
  padding-top: 10px;
  padding-left: 10px;
}

#output .card {
  height: 373px;
  overflow-y: scroll;
}

.container {
  padding: 20px;
}
